// app global css in SCSS form
//Navbar
.search {
    width: 40rem;
}

// Channel Sidebar
.channel {
    padding: 0;
    min-height: 30px;
}

.message-box {
    bottom: 0;
    width: 100%;
}